// Variables
// --------------------------------------------------


//== Colors
$amethyst: #9b59b6;
$wisteria: #8e44ad;

$brand-primary:         $amethyst;

$link-hover-color:      $wisteria;

$font-family-sans-serif:  "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-serif:       "Bitter", Georgia, "Times New Roman", Times, serif;

$headings-font-family:    $font-family-serif;