.site-footer {
  margin-top: 30px;
  padding: 20px 0;
  background: lighten($brand-primary, 10%);
  color: #ffffff;
}

.back-to-top {
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.5s;
  background: lighten($brand-primary, 10%);
  border-color: lighten($brand-primary, 10%);
  border-radius: 0;
  position: fixed;
  bottom: 60px;
  right: 30px;
  &.visible {
    opacity: 1;
    pointer-events: inherit;
  }
}