.home-item-heading {
  padding-bottom: 20px;
}

.home-item {
  padding-bottom: 30px;
  h2 {
    margin-top: 0;
  }
  .close-button {
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.5s;
    .glyphicon {
      font-size: 20px;
      position: relative;
      z-index: 1;
    }
  }
  .post-excerpt,
  .post-full-content {
    overflow: hidden;
  }
  .post-excerpt {
    transition: opacity 0.5s, height 0.5s;
    opacity: 1;
    &:hover {
      cursor: pointer;
    }
  }
  .post-full-content {
    transition: opacity 1s, height 1s;
    height: 0;
    opacity: 0;
  }
  &.expanded {
    .close-button {
      opacity: 1;
      pointer-events: inherit;
      &:hover {
        cursor: pointer;
      }
    }
  }
}

.recipe-category-list {
  border-bottom: 1px solid darken($gray-lighter, 10%);
  list-style: none;
  padding-left: 0;
  margin-bottom: 10px;
  padding-bottom: 30px;
  li {
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px;
    &:last-child {
      margin-right: 0px;
    }
    a {
      display: inline-block;
      background: $gray-lighter;
      padding: 5px 10px;
      &:hover {
        background: $brand-primary;
        color: #ffffff;
      }
    }
  }
}

.taxonomy-title {
  margin-bottom: 30px;
}